<div class="main">
  <div class="form-group">
    <label >contact name</label>
    <input type="text" name="name"[(ngModel)]="name"placeholder="enter your name"/>
  </div>
  <div class="form-group">
    <label >contactnumber</label>
    <input type="text" name="number"[(ngModel)]="number" placeholder="enter your number"/>
  </div>
  <div class="form-group">
    <label >Address</label>
    <input type="text" name="address" [(ngModel)]="address" placeholder="enter your address"/>

  </div>
    <button type="button" class="btn btn-primary"(click)="save()">save</button>

</div>


<div>
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>number</th>
        <th>address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of data">
        <td>{{obj.name}}</td>
        <td>{{obj.number}}</td>
        <td>{{obj.address}}</td>
      </tr>

    </tbody>
  </table>
</div>
