<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" >home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/contact']"  >contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/about']" >about </a>
      </li>
      </ul>

  </div>
</nav>
<router-outlet></router-outlet>
